<a href="/children">Back to Children</a>
<h1><%= @child.first_name %> <%= @child.last_name %> Details</h1>

<h2>Birthday</h2>
<p><%= @child.birth_date %>, <%= @child.birth_year %>

<h2>Parent(s)</h2>
<% @child.adults.each do |adult| %>
  <p><a href="/adults/<%= adult.slug %>"><%= adult.first_name %> <%= adult.last_name %></p>
<% end %>

<a href="/children/<%= @child.id %>/edit">Edit</a>
