<h1>Edit <%= @adult.first_name %> <%= @adult.last_name %></h1>
<p>Edit the information below:</p>

<form method="POST" action="/adults/<%= @adult.id %>">
  <input type="hidden" name="_method" value="patch"/>
  <h2> Adult's Details:</h2>

    <p>
      <label for="first_name">First Name:</label>
      <input id="first_name" type="text" name="adult[first_name]" value="<%= @adult.first_name %>"/>
    </p>

    <p>
      <label for="last_name">Last Name:</label>
      <input id="last_name" type="text" name="adult[last_name]" value="<%= @adult.last_name %>"/>
    </p>

    <p>
      <label>Birthday:</label>
      <input type="text" name="adult[birth_date]" placeholder="Month & Day" value="<%= @adult.birth_date %>"/>
      <input type="text" name="adult[birth_year]" placeholder="Year" value="<%= @adult.birth_year %>"/>
    </p>

    <p>
      <label>Anniversary:</label>
      <input type="text" name="adult[anni_date]" placeholder="Month & Day" value="<%= @adult.anni_date %>"/>
      <input type="text" name="adult[anni_year]" placeholder="year" value="<%= @adult.anni_year %>"/>
    </p>

  <h2>Add Child(ren)</h2>
    <h4> Add a New Child:</h4>
    <p>
      <label for="child_f_name">First Name:</label>
      <input id="child_f_name" type="text" name="child[first_name]"/>
    </p>

    <p>
      <label for="child_l_name">Last Name:</label>
      <input id="child_l_name" type="text" name="child[last_name]"/>
    </p>

    <p>
      <label>Birthday:</label>
      <input type="text" name="child[birth_date]" placeholder="Month & Day"/>
      <input type="text" name="child[birth_year]" placeholder="Year"/>
    </p>

    <h4>Or, choose an existing child:</h4>
      <% @children.each do |child| %>
        <input id="child_<%= child.id %>" type="checkbox" name="adult[child_ids][]" value="<%= child.id %>" <%= 'checked' if @adult.children.include?(child) %>>
          <%= child.first_name %> <%= child.last_name %>
        </input>
        <br>
      <% end %>

  <input type="submit" value="Save Changes"/>
</form>
