<a href="/adults">Back to Adults</a>
<h1><%= @adult.first_name %> <%= @adult.last_name %> Details</h1>

<a href="/adults/<%= @adult.id %>/edit">Edit</a>

<h2>Birthday</h2>
<p><%= @adult.birth_date %>, <%= @adult.birth_year %>

<h2>Anniversary</h2>
<p><%= @adult.anni_date %>, <%= @adult.anni_year %></p>

<h2>Child(ren)</h2>
<% @adult.children.each do |child| %>
  <p><a href="/children/<%= child.slug %>"><%= child.first_name %> <%= child.last_name %></a></p>
<% end %>

<form method="POST" action="/adults/<%= @adult.id %>/delete">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete"/>
</form>
